name: Publish
permissions: read-all

on:
  release:
    types: [released]


jobs:

  run-tests:
    uses: SilverPineSoftware/UUKotlinBuild/.github/workflows/uu_tests.yml@main
    
  run-instrumented-tests:
    needs: [run-tests]
    uses: SilverPineSoftware/UUKotlinBuild/.github/workflows/uu_instrumented_tests.yml@main
    
  publish-library:
    needs: [run-instrumented-tests]
    uses: SilverPineSoftware/UUKotlinBuild/.github/workflows/uu_library_publish_release.yml@main
    secrets:
      MAVEN_CENTRAL_NEXUS_URL: ${{ secrets.MAVEN_CENTRAL_NEXUS_URL }}
      MAVEN_CENTRAL_SNAPSHOT_URL: ${{ secrets.MAVEN_CENTRAL_SNAPSHOT_URL }}
      OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
      OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
      SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
      SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
      SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
      SONATYPE_STAGING_PROFILE_ID: ${{ secrets.SONATYPE_STAGING_PROFILE_ID }}

  upload-release-artifacts:
    needs: [run-tests, run-instrumented-tests, publish-library]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Archive test results
      if: always()
      run: |
        # Create zip for unit test results
        zip -r library-test-results-${{ github.event.release.tag_name }}.zip library/build/reports/tests/
        
        # Create zip for Android test results
        zip -r library-instrumented-test-results-${{ github.event.release.tag_name }}.zip library/build/reports/androidTests/
                  
    - name: Upload test results to release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh release upload "${{ github.event.release.tag_name }}" \
          library-test-results-${{ github.event.release.tag_name }}.zip \
          library-instrumented-test-results-${{ github.event.release.tag_name }}.zip \
          --clobber 
      
      